@import "modules/colors";
@import "modules/variables";
@import "modules/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @include border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: 'Fira Sans', sans-serif;
}

/* ===========================
    SECTION HOME - RIGHT PART
   =========================== */

.projects_page {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;

  .container {
    flex-direction: column;
    height: 800px;
    background-position: left;
    background-size: cover;
    background-image: url(../images/Kamel_BG.jpg);

    .title {
      margin-top: 350px;
      display: flex;

      h1 {
        color: $color-white;
        font-size: 3rem;
        font-weight: 400;
        letter-spacing: 0.5rem;
        text-transform: uppercase;
        padding: 1rem;

        @media (max-width: 720px) {
          font-size: 3rem;
          // text-align: right;
          margin-right:1rem;
        }
        @media (max-width: 420px) {
          // font-size: 2rem;
          margin-left: 1rem;
          margin-right:1rem;
          // text-align: right;
        }
      }
    }

    .home_text {
      display: flex;
      ul {
        text-transform: uppercase;
        list-style-type: square;
      }
      @media (max-width: 420px) {
        font-size: 0.75rem;
        text-align: left;
        // padding: 1rem;
      }
      @media all and (max-width: 720px) {
        display: flex;
        ul {
          padding: 2rem;
        }
      }
    }
  }

  /* ==========================
      SECTION HOME - LEFT PART
     ========================== */

  .logo {
    height: 800px;
    background-repeat: no-repeat;
    background-color: $additional-color;
    background-size: 45% 45%;
    background-position: center;
    background-image: url(../images/logo_engarde.svg);
    @media (max-width: 420px) {
      height: 400px;

    }

    .text {
      display: flex;

      a {
        flex-direction: column;
        @include links($font-color, $font-color, yellow, $font-color);
        line-height: 80rem;
        text-decoration: none;
        list-style-type: none;
        @media (max-width: 420px) {
          padding-top: 13rem;
        }
      }
    }
    @media all and (max-width: 420px) {
      display: flex;

    }
  }
}

  /* ================================
      SECTION EXPERIENCE - RIGHT PART
     ================================ */

  section.experience_page {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;

    div.experience {
      display: flex;
      background-color: #7f8a9b;
      height: 800px;
      text-transform: uppercase;

      ul {
        list-style-type: square;
        padding: 2rem;

        a {
          @include links(#E8E8E8, #E8E8E8, yellow, $font-color);
          text-decoration: none;
        }
      }


      @media all and (max-width: 420px) {
        display: flex;
        ul {
          padding: 3rem;
          margin-top: 5rem;
          list-style-type: square;
        }
      }
      @media all and (max-width: 620px) {
        display: flex;
        ul {
          padding: 4rem;
          margin-top: 5rem;
          list-style-type: square;

        }
      }
    }

    /* ================================
        SECTION EXPERIENCE - LEFT PART
       ================================ */

    .skill {
      display: flex;
      background-color: #7f8a9b;
      height: 800px;
      text-transform: uppercase;

      ul {
        list-style-type: square;
        padding: 2rem;
      }
      @media all and (max-width: 420px) {
        height: 400px;

        ul {
          list-style-type: square;
          margin-top: 5rem;
          padding: 2rem;
        }
      }
    }
  }

  div {
    margin: 0.5px;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    color: #fff;
    order: 1;

    &:first-child {
      flex: 0 0 calc(68.9%);
    }

    &:nth-child(2) {
      flex: 0 0 calc(30%);
    }
    @media all and (max-width: 768px) {
      &:first-child {
        flex: 0 0 calc(100%);
        order: 1;
      }

      &:nth-child(2) {
        flex: 0 0 calc(100%);
        order: 1;
      }
    }
    @include tablet {
      &:first-child {
        flex: 0 0 calc(100%);
        order: 1;
      }

      &:nth-child(2) {
        flex: 0 0 calc(100%);
        order: 1;
      }
    }
  }

/* ==================
MOUSE SCROLL ICON
===================== */
// .scroll-downs {
//   display: flex;
//   margin: auto;
//   margin-top: 5rem;
//   width :10px;
//   height: 55px;
//
//   .mousey {
//     width: 3px;
//     padding: 10px 15px;
//     height: 35px;
//     border: 2px solid #fff;
//     border-radius: 25px;
//     opacity: 0.75;
//     box-sizing: content-box;
//
//     .scroller {
//       width: 3px;
//       height: 10px;
//       border-radius: 25%;
//       background-color: #fff;
//       animation-name: scroll;
//       animation-duration: 2.2s;
//       animation-timing-function: cubic-bezier(.15,.41,.69,.94);
//       animation-iteration-count: infinite;
//     }
//   }
//   @media (max-width: 420px) {
//     margin-top: 0rem;
//   }
//   @media (max-width: 620px) {
//     margin-top: 0rem;
//   }
// }
//
// @keyframes scroll {
//   0% { opacity: 0; }
//   10% { transform: translateY(0); opacity: 1; }
//   100% { transform: translateY(15px); opacity: 0;}
// }
