@mixin flex {
  display: -webkit-box;
  display: flex;
}

@mixin border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}


// Media Queries - Tablet

@mixin tablet {
  @media #{$tablet} {
    @content;
  }
}

// Media Queries - Iphone

@mixin iPhone6 {
  @media #{$iphone6}{
    @content;
  }
}


@mixin clearfix {
  &:after,
  &:before {
    content: "";
    display: block;
    clear: both;
  }
}

%clearfix {
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        content: "";
        line-height: 0;
    }
    &:after {
        clear: both;
    }
}

// przykład użycia clearfix
// .too-much-fog {
//     @extend %clearfix;
// }


@mixin links ($link, $visited, $hover, $active) {
    & {
        color: $link;
        &:visited {
            color: $visited;
        }
        &:hover {
            color: $hover;
        }
        &:active, &:focus {
            color: $active;
        }
    }
}
